<div class="flex-container">
  <div class="flex-item">
    <h1>Weather API</h1>
    <form [formGroup]="form">
      <div>
        <input
          type="text"
          placeholder="Nome da Cidade"
          formControlName="cidade"
        />
      </div>
      <div><button (click)="buscar()">Buscar</button></div>
    </form>
  </div>
  <div class="powered">
    <p>
      Powered by
      <a href="https://www.weatherapi.com/" title="Free Weather API"
        >WeatherAPI.com</a
      >
    </p>
  </div>
  <div class="searched" *ngIf="searched">
    <h3>{{ dados.location.localtime | date: "dd/MM/yyyy" }}</h3>
    <p>
      <img [src]="dados.current.condition.icon" alt="icone do clima" />
    </p>
    <p>{{ dados.current.condition.text }}</p>
    <p>Temperatura - {{ dados.current.temp_c }}º</p>
    <p>Sensação Térmica - {{ dados.current.feelslike_c }}º</p>
    <p>Úmidade - {{ dados.current.humidity }}%</p>
    <p>Precipitação - {{ dados.current.precip_mm }} mm</p>
    <p>Vento - {{ dados.current.wind_kph }} km/h</p>
    <p>Páis - {{ dados.location.country }}</p>
    <p>Estado - {{ dados.location.region }}</p>
    <p>Cidade - {{ dados.location.name }}</p>
  </div>

  <div class="itens">
    <div *ngFor="let dado of dados.forecast.forecastday">
      <h3>{{ dado.date | date: "dd/MM/yyyy" }}</h3>
      <p>
        <img [src]="dado.day.condition.icon" alt="icone do clima" />
      </p>
      <p>{{ dado.day.condition.text }}</p>
      <p>Temperatura Máxima - {{ dado.day.maxtemp_c }}</p>
      <p>Temperatura Mínima - {{ dado.day.mintemp_c }}</p>
    </div>
  </div>
</div>
